img{
    width: 1000px;
}

img:hover{
    cursor: pointer;
}

h1{
    font-size: 35px;
}

body{
    background: wheat;
}

#output{
    padding: 10px;
    width:80%;
    background: rgb(218, 214, 214);
    border-radius: 15px;
    margin-top: 30px;
}

#outputMonthly{
    padding: 10px;
    width:80%;
    background: rgb(218, 214, 214);
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 60px;
}

hr{
    height: 9px;
        background-color: orange;
        border: none;
}